//Import any bower dependencies as so:
@import 'mixins';
@import 'bower_components/bskyb-skycons/src/styles/skycons';

*[data-tooltip], //deprecate on version 1
.tooltip{
  position:relative;
}

.tooltip-content , //deprecate on version 1
.tooltip__content {
  @include pointer-bordered(top, #FFF, #CCC);
  transition: opacity 0.25s ease-in-out;
  box-shadow :2px 1px 3px rgba(0, 0, 0, 0.15);
  position: absolute;
  display: none;
  top: auto;
  z-index: 1;
  min-width: 210px;
  max-width: 450px;
  opacity: 0;
  bottom: auto;
  padding: 16px;
  background-color: #FFF;
  border: 1px solid #dcdcdc;
  margin-top: 13px;
  cursor: default;

  &:before,
  &:after {
    left: 40px;
  }
}

.tooltip--top {
  @include pointer-bordered(bottom, #FFF, #CCC);
  box-shadow:-2px -1px 3px rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 1.8em;
  &:before,
  &:after {
    left: 40px;
  }
}

.tooltip--fade {
  opacity: 1;
}
.tooltip--show {
  display: block;
}